In [8]:
import pandas as pd
import statsmodels.api as sm

In [9]:
data = pd.read_csv("./datasets/insurance.csv")
data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [10]:
cleaned_data = pd.get_dummies(data, drop_first=True)

cleaned_data

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,0,1,0,0,1
1,18,33.770,1,1725.55230,1,0,0,1,0
2,28,33.000,3,4449.46200,1,0,0,1,0
3,33,22.705,0,21984.47061,1,0,1,0,0
4,32,28.880,0,3866.85520,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,1,0,1,0,0
1334,18,31.920,0,2205.98080,0,0,0,0,0
1335,18,36.850,0,1629.83350,0,0,0,1,0
1336,21,25.800,0,2007.94500,0,0,0,0,1
1337,61,29.070,0,29141.36030,0,1,1,0,0

In [11]:
cleaned_data = cleaned_data.rename(columns={'sex_male':'sex','smoker_yes':'smoker'})

In [12]:
cleaned_data.to_csv("./datasets/insurance_cleaned.csv", index=False)

In [15]:
outcome = 'charges'
predictors = ['age','bmi','children','smoker']

insurance_full_lm = sm.OLS(cleaned_data[outcome],cleaned_data[predictors])
results = insurance_full_lm.fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                charges   R-squared (uncentered):                   0.872
Model:                            OLS   Adj. R-squared (uncentered):              0.872
Method:                 Least Squares   F-statistic:                              2277.
Date:                Thu, 25 Aug 2022   Prob (F-statistic):                        0.00
Time:                        19:09:48   Log-Likelihood:                         -13629.
No. Observations:                1338   AIC:                                  2.727e+04
Df Residuals:                    1334   BIC:                                  2.729e+04
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
age          197.6732     11.589     17.058      0.000     174.939     220.407
bmi           28.0102     15.948      1.756      0.079      -3.276      59.296
children     240.5490    144.750      1.662      0.097     -43.414     524.512
smoker      2.331e+04    433.801     53.732      0.000    2.25e+04    2.42e+04
==============================================================================
Omnibus:                      277.987   Durbin-Watson:                   2.070
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              640.617
Skew:                           1.140   Prob(JB):                    7.79e-140
Kurtosis:                       5.509   Cond. No.                         126.
==============================================================================

Notes:
[1] RÂ² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""