In [1]:
import pandas as pd
import statsmodels.api as sm

In [2]:
data = pd.read_csv("./datasets/insurance.csv")
data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [3]:
cleaned_data = pd.get_dummies(data, drop_first=True)

cleaned_data

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,0,1,0,0,1
1,18,33.770,1,1725.55230,1,0,0,1,0
2,28,33.000,3,4449.46200,1,0,0,1,0
3,33,22.705,0,21984.47061,1,0,1,0,0
4,32,28.880,0,3866.85520,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,1,0,1,0,0
1334,18,31.920,0,2205.98080,0,0,0,0,0
1335,18,36.850,0,1629.83350,0,0,0,1,0
1336,21,25.800,0,2007.94500,0,0,0,0,1
1337,61,29.070,0,29141.36030,0,1,1,0,0

In [4]:
cleaned_data = cleaned_data.rename(columns={'sex_male':'sex','smoker_yes':'smoker'})

In [5]:
cleaned_data.to_csv("./datasets/insurance_cleaned.csv", index=False)

In [6]:
outcome = 'charges'
predictors = ['age','bmi','children','smoker']

insurance_full_lm = sm.OLS(cleaned_data[outcome],cleaned_data[predictors])
results = insurance_full_lm.fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                charges   R-squared (uncentered):                   0.872
Model:                            OLS   Adj. R-squared (uncentered):              0.872
Method:                 Least Squares   F-statistic:                              2277.
Date:                Wed, 31 Aug 2022   Prob (F-statistic):                        0.00
Time:                        18:18:37   Log-Likelihood:                         -13629.
No. Observations:                1338   AIC:                                  2.727e+04
Df Residuals:                    1334   BIC:                                  2.729e+04
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
age          197.6732     11.589     17.058      0.000     174.939     220.407
bmi           28.0102     15.948      1.756      0.079      -3.276      59.296
children     240.5490    144.750      1.662      0.097     -43.414     524.512
smoker      2.331e+04    433.801     53.732      0.000    2.25e+04    2.42e+04
==============================================================================
Omnibus:                      277.987   Durbin-Watson:                   2.070
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              640.617
Skew:                           1.140   Prob(JB):                    7.79e-140
Kurtosis:                       5.509   Cond. No.                         126.
==============================================================================

Notes:
[1] RÂ² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

## Cross validation
Se refiere a validar nuestro model en base a una parte de los datos (muestra) que no se usa para el entrenamiento.

El algoritmo mÃ¡s comÃºn es:
- K-fold cross validation

Se utiliza cuando hay muchos registros y tambiÃ©n cuando existe incertidumbre.

Reto o actividad: Implementar k-fold

## Model selection y stepwise regression

In [14]:
car_data = pd.read_csv("./datasets/carprice.csv")
car_data = car_data.set_index("car_ID")

predictors = [
    #'car_ID', 
    'symboling', 
    #'CarName', 
    'fueltype', 
    'aspiration',
    'doornumber', 
    'carbody', 
    'drivewheel', 
    'enginelocation', 
    'wheelbase',
    'carlength', 
    'carwidth', 
    'carheight', 
    'curbweight', 
    'enginetype',
    'cylindernumber', 
    'enginesize', 
    'fuelsystem', 
    'boreratio', 
    'stroke',
    'compressionratio', 
    'horsepower', 
    'peakrpm', 
    'citympg', 
    'highwaympg'
]

outcome = "price"
# Reemplazar los valores
"""
car_data['cylindernumber']=car_data['cylindernumber'].replace({'four':4,'six':6,'five':5,'three':4,'twelve':12,'two':2,'eight':8})

car_data['enginetype']=car_data['enginetype'].replace({'dohc':1, 'ohcv':2, 'ohc':3, 'l':4, 'rotor':5, 'ohcf':6, 'dohcv':7})

car_data['fuelsystem']=car_data['fuelsystem'].replace({'mpfi':1, '2bbl':2, 'mfi':3, '1bbl':4, 'spfi':5, '4bbl':6, 'idi':7, 'spdi':8})

car_data['carbody']=car_data['carbody'].replace({'convertible':1, 'hatchback':2, 'sedan':3, 'wagon':4, 'hardtop':5})
"""

#cleaned_car_data = pd.get_dummies(car_data[predictors], drop_first=True)

#cleaned_car_data
car_data

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
car_ID,,,,,,,,,,,,,,,,,,,,,
1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,188.8,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,188.8,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [8]:
cleaned_car_data.columns

Index(['car_ID', 'symboling', 'wheelbase', 'carlength', 'carwidth',
       'carheight', 'curbweight', 'enginesize', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'fueltype_gas', 'aspiration_turbo', 'doornumber_two', 'carbody_hardtop',
       'carbody_hatchback', 'carbody_sedan', 'carbody_wagon', 'drivewheel_fwd',
       'drivewheel_rwd', 'enginelocation_rear', 'enginetype_dohcv',
       'enginetype_l', 'enginetype_ohc', 'enginetype_ohcf', 'enginetype_ohcv',
       'enginetype_rotor', 'cylindernumber_five', 'cylindernumber_four',
       'cylindernumber_six', 'cylindernumber_three', 'cylindernumber_twelve',
       'cylindernumber_two', 'fuelsystem_2bbl', 'fuelsystem_4bbl',
       'fuelsystem_idi', 'fuelsystem_mfi', 'fuelsystem_mpfi',
       'fuelsystem_spdi', 'fuelsystem_spfi'],
      dtype='object')

In [9]:
car_lm = sm.OLS(car_data[outcome],cleaned_car_data[predictors])

results = car_lm.fit()
results.summary()

KeyError: "['fueltype', 'aspiration', 'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'enginetype', 'cylindernumber', 'fuelsystem'] not in index"

In [ ]:
# Reto: Hacer limpieza del dataset